---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: '~/assets/images/workspace.png',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      
      <span class="text-accent dark:text-white highlight"> Proactive Defense</span>
    </Fragment>

    <Fragment slot="subtitle">
      Welcome to Encrypπion, your trusted partner in cybersecurity based in the vibrant San Francisco Bay Area. Founded with a mission to provide top-tier security solutions, we are dedicated to protecting your digital assets and ensuring the integrity of your IT infrastructure.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '4' },
      { title: 'Employees', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  /> -->

  <!-- Features3 Widget ************** -->

  <Features3
    title="Who We Are"
    subtitle="Encrypπion is a premier cybersecurity firm known for its innovative approach and deep expertise in the field."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Location',
        description:
          'Located in the heart of the Silicon Valley, Our team of seasoned professionals combines extensive industry experience with cutting-edge technology to deliver unparalleled security services tailored to meet the unique needs of our clients.',
        icon: 'tabler:location',
      },
      {
        title: 'Mission',
        description:
          'Our mission is to empower businesses by providing robust security solutions that safeguard against evolving cyber threats. We strive to be the leading provider of comprehensive security services, helping our clients achieve peace of mind knowing their critical assets are protected.',
        icon: 'tabler:shield-half',
      },
      {
        title: 'Our Community',
        description:
          'Being part of the San Francisco Bay Area, we actively contribute to the local tech community by participating in industry events, sharing knowledge through workshops and seminars, and collaborating with other leading tech companies. We believe in fostering a culture of innovation and continuous learning, both within our team and the broader community.',
        icon: 'tabler:users-group',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Expertise',
        description:
          'Our team comprises highly skilled security professionals with extensive experience in various domains of cybersecurity.',
        icon: 'tabler:fingerprint',
      },
      {
        title: 'Innovation',
        description:
          'We utilize the latest technologies and methodologies to provide cutting-edge security solutions.',
        icon: 'tabler:radar-2',
      },
      {
        title: 'Client-Centric Approach',
        description:
          'We work closely with our clients to understand their specific needs and deliver customized security strategies that align with their business objectives.',
        icon: 'tabler:users',
      },
      {
        title: 'Commitment to Excellence',
        description:
          'We are dedicated to providing exceptional service and support, ensuring our clients can operate securely and confidently.',
        icon: 'tabler:heart-handshake',
      },
      // {
      //   title: 'Medical',
      //   description:
      //     'Vestibulum malesuada lacus id nibh posuere feugiat. Nam volutpat nulla a felis ultrices, id suscipit mauris congue. In hac habitasse platea dictumst.',
      //   icon: 'tabler:template',
      // },
      // {
      //   title: 'Fashion Design',
      //   description:
      //     'Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus.',
      //   icon: 'tabler:template',
      // },
    ]}
    image={{
      src: '~/assets/images/workspace2.png',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <!-- <Steps2
    title="Our values"
    subtitle="Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo. Ut eleifend luctus condimentum.',
      },
      {
        title: 'Constant Improvement',
        description:
          'Phasellus laoreet fermentum venenatis. Vivamus dapibus pulvinar arcu eget mattis. Fusce eget mauris leo.',
      },
      {
        title: 'Ethical Practices',
        description:
          'Vestibulum imperdiet libero et lectus molestie, et maximus augue porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
    ]}
  /> -->

  <!-- Steps2 Widget ****************** -->

  <!-- <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'EE.UU',
        description: '1234 Lorem Ipsum St, 12345, Miami',
      },
      {
        title: 'Spain',
        description: '5678 Lorem Ipsum St, 56789, Madrid',
      },
      {
        title: 'Australia',
        description: '9012 Lorem Ipsum St, 90123, Sydney',
      },
      {
        title: 'Brazil',
        description: '3456 Lorem Ipsum St, 34567, São Paulo',
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Whether you have a question or just want to say hi, we’re here to help.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'We’re always happy to help you with any questions you might have.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
