---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import { headerData } from '~/navigation';

const metadata = {
  title: 'AI-POWERED CYBERSECURITY'
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="AI-POWERED CYBERSECURITY"
    actions={[
      {
        variant: 'primary',
        text: 'Follow us',
        href: 'https://www.linkedin.com/company/sekuraai',
        icon: 'tabler:brand-linkedin'
      },
    ]}
    image={{
      src: '~/assets/images/globe2.png',
      alt: 'Sekura Hero Image',
      class: 'w-full max-w-xs mx-auto sm:max-w-md', // Adjust width and alignment
      style: { margin: 'auto' }, // Centers the image
    }}
  >
    <!-- Reduced Font Sizes and Adjusted Spacing -->
    <Fragment slot="title">
      <h1 class="text-2xl sm:text-3xl font-bold text-center"> <!-- Centered Text -->
        Welcome to Sekura: Where AI Meets Cybersecurity
      </h1>
    </Fragment>

    <Fragment slot="subtitle">
      <p class="text-sm sm:text-base leading-tight mt-2 text-center">
        Sekura is reimagining cybersecurity with cutting-edge artificial intelligence. We're not just protecting digital assets; we're redefining what's possible in the realm of cyber defense.
        Imagine a world where your applications are safeguarded by AI that thinks like a hacker but works tirelessly for you. Where your APIs are fortified by machine learning models that anticipate threats before they materialize. Where your mobile apps are secured by intelligent systems that navigate and test like human experts, but at superhuman speeds.
        Ready to step into the future of cybersecurity?
      </p>
    </Fragment>

    <Fragment slot="content" class="mt-4">
      <ContactUs
        id="form"
        title="Join Waitlist"
        action="https://formspree.io/f/mrgnwpgy"
        inputs={[
          {
            type: 'email',
            name: 'email',
            label: 'Email',
          },
        ]}
        class="max-w-sm mx-auto"
      />
    </Fragment>
  </Hero2>

</Layout>

