---
import { SITE } from 'astrowind:config';
import { getAsset } from '~/utils/permalinks';
---

<!-- <span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
> -->
  

<img
  src={getAsset('~/assets/images/encrypttionlogo.svg')}
  alt="Logo"
  class="h-150 w-250"
/>


  <!-- 🚀 {SITE?.name} -->
</span>
